body {
  background-color: blue;
  height: 300vh;
  font-family: serif;
  padding: 22px;
}
.parent {
  border: solid white;
  padding: 22px;
  /* display: flex; */
  height: 200vh;
  justify-content: space-around;
}
.child {
  border: solid white;
  background-color: grey;
  width: 97%;
  display: flex;
  justify-content: space-around;
  padding: 12px;
}
.screen {
  width: 100%;
  border-width: 52px;
  border: solid white;
  height: 20%;
  background-color: black;
}
.button_menu {
  /* border: solid grey; */
  padding: 1em;
  height: 80%;
  width: 40%;
  margin: 20px;
  border-radius: 35px;
}
.text_box {
  border: solid white;
  width: 60%;
  height: auto;
}
.btn_1,
.btn_2,
.btn_3 {
  border: solid black;
  border-radius: 22px;
  border-width: 1px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  color: white;
  font-size: 22px;
}
.btn_1:hover,
.btn_2:hover,
.btn_3:hover {
  border: solid black;
  transition: 0.5s;
  border-radius: 22px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  color: green;
  font-size: 22px;
  background-color: lightskyblue;
}
.para {
  border: solid white;
  border-width: 2px;
  height: 300px;
  padding: 10px;
  width: 100%;
  margin-top: 22px;
  text-align: center;
  background-color: grey;
  /* position: fixed; */
  /* display: flex; */
}
.registrar {
  border: solid lightblue;
  padding: 2em;
  justify-content: space-around;
  text-align: center;
  margin-left: 60%;
  height: 60px;
}
input {
  font-size: 13px;
  padding: 12px;
  border-radius: 25px;
  width: 65%;
  text-align: center;
}
input:hover {
  font-size: 13px;
  padding: 12px;
  border-radius: 25px;
  background-color: lightgreen;
  width: 65%;
  text-align: center;
}
