body {
  background-color: seagreen;
  /* background-image: url("https://thumbs.gfycat.com/AcrobaticForkedBeardedcollie-size_restricted.gif"); */
  height: 300vh;
  font-family: serif;
}
.parent {
  border: solid white;
  padding: 22px;
  /* display: flex; */
  height: 300vh;
  justify-content: space-around;
}
.child {
  border: solid white;
  background-color: grey;
  width: 97%;
  display: flex;
  justify-content: space-around;
  padding: 12px;
}
.screen {
  width: 95%;
  border-width: 52px;
  border: solid white;
  height: auto;
  color: white;
  background-color: grey;
  font-size: 28px;
  text-align: center;
  padding: 20px;
}
.button_menu {
  /* border: solid grey; */
  padding: 22px;
  height: 80%;
  width: 20%;
  margin: 10px;
  border-radius: 35px;
  /* display: flex; */
  justify-content: space-around;
}
.text_box {
  border: solid white;
  width: 40%;
  padding: 20px;
  font-size: 23px;
  height: auto;
}
.btn_1,
.btn_2,
.btn_3 {
  border: solid white;
  border-radius: 22px;
  border-width: 2px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  color: white;

  font-size: 22px;
}
.btn_1:hover,
.btn_2:hover,
.btn_3:hover {
  /* border: solid black; */
  transition: 0.3s;
  border-radius: 22px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  color: green;
  font-size: 22px;
  background-color: lightskyblue;
}
.para {
  border: solid white;
  border-width: 2px;
  height: 300px;
  padding: 10px;
  width: 100%;
  margin-top: 22px;
  text-align: center;
  background-color: grey;
  /* position: fixed; */
  /* display: flex; */
}
.registrar {
  border: solid lightblue;
  padding: 2em;
  justify-content: space-around;
  text-align: center;
  margin-left: 60%;
  height: 60px;
}
input {
  font-size: 13px;
  padding: 12px;
  border-radius: 25px;
  width: 65%;
  text-align: center;
  color: black;
}
input:hover {
  font-size: 13px;
  padding: 12px;
  border-radius: 25px;
  background-color: lightgreen;
  width: 65%;
  text-align: center;
}
.submit {
  border: solid red;
  border-radius: 50px;
  padding: 3px;
  width: 25%;
  height: 5%;
  margin-left: 35%;
  margin-top: 8px;
  border-width: 1px;
}
.submit:hover {
  border: solid green;
  border-width: 1px;
  border-radius: 50px;
  padding: 3px;
  width: 25%;
  height: 5%;
  margin-left: 35%;
  background-color: green;
  margin-top: 8px;
}
.new {
  text-align: center;
  border: solid green;
  margin: 12px;
  height: 20%;
}
.meal_container {
  margin: 22px;
  border: solid white;
  padding: 1em;
  font-size: 48px;
  color: white;
}
#alg {
  margin-left: 15%;
  /* width: 100%; */
}
